.offcanvas-menu {
    color: $brown;
    width: 100% !important;
    .form-control {
        @include ui-fz-16;
        border: 0;
        border-bottom: 1px solid #e4e4ec;
        border-radius: 0;
        padding: 9px 0;
        background-color: transparent;
        &:placeholder {
            @include ui-fz-16;
        }
        width: 30%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__more {
        width: 26px;
        height: 26px;
    }
    &__btn {
        margin-top: 30px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        @include ui-fz-28;
        font-weight: 500;
        @media (max-width: 768px) {
            padding: 5px 0;
        }
        &.active {
            color: $green;
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    &__img {
        width: 50%;
        height: 470px;
    }
    &__contain {
        width: 30%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}
.offcanvas-header {
    gap: 20px;
    .btn-close {
        flex-shrink: 0;
        margin: 0;
        padding: 4px;
    }
}
.menu-block {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #e4e4ec;
    &__items {
        column-count: 2;
    }
    &__item {
        @include ui-fz-18;
        font-weight: 500;
        margin-top: 10px;
    }
}
