<p>Здравствуйте!</p>
<p>Вы запросили восстановление пароля на проекте <a href="{{site_url}}" target="_blank" style="color: {{link_color}}">{{site_url}}</a></p>
<p>Ваша информация:</p>
<p>
  Имя пользователя: {{username}}<br />
  Телефон: {{user_phone}}<br />
  Email: {{user_email}}<br />
  Пароль: {{user_password}}
</p>

<p>Изменить или дополнить личные данные, восстановить пароль вы можете в <a href="{{site_url}}/cabinet/" target="_blank" style="color: {{link_color}}">личном кабинете</a>.</p>

<p>Спасибо вам за доверие!<br />
С уважением, &laquo;{{site_name}}&raquo;</p>